n8n/workflows/hiweb-calendar-booked-full.json
{
  "name": "Hiweb — Calendario → Slack + GCal + HubSpot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hiweb-calendar-booked",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook Calendario",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "hiweb-calendar-booked"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst headers = item.headers ?? {};\nconst query = item.query ?? {};\nconst secret =\n  query.secret ??\n  headers['x-webhook-secret'] ??\n  headers['X-Webhook-Secret'] ??\n  '';\n\nconst expected = $env.HIWEB_WEBHOOK_SECRET;\nif (!expected || secret !== expected) {\n  throw new Error('Unauthorized: invalid webhook secret');\n}\n\nconst payload = item.body && typeof item.body === 'object' ? item.body : item;\n\nif (!payload.event || !payload.bookingId) {\n  throw new Error('Invalid payload: missing event or bookingId');\n}\n\nif (payload.event === 'calendar.booked') {\n  if (!payload.slack?.text) {\n    throw new Error('Invalid payload: missing slack.text for booked event');\n  }\n  if (!payload.calendar?.start || !payload.calendar?.end) {\n    throw new Error('Invalid payload: missing calendar.start/end for booked event');\n  }\n  if (!payload.hubspot?.contact?.email) {\n    throw new Error('Invalid payload: missing hubspot.contact.email for booked event');\n  }\n} else if (payload.event === 'calendar.cancelled') {\n  if (!payload.slack?.text) {\n    throw new Error('Invalid payload: missing slack.text for cancelled event');\n  }\n} else {\n  throw new Error(`Invalid payload: unknown event ${payload.event}`);\n}\n\nreturn [{ json: payload }];"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000002",
      "name": "Validar secreto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "evt-booked",
              "leftValue": "={{ $json.event }}",
              "rightValue": "calendar.booked",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "evt-cancelled",
              "leftValue": "={{ $json.event }}",
              "rightValue": "calendar.cancelled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b1b2c3d4-0003-4000-8000-000000000003",
      "name": "¿Reserva o cancelación?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "evt-booked-only",
              "leftValue": "={{ $json.event }}",
              "rightValue": "calendar.booked",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1b2c3d4-0005-4000-8000-000000000005",
      "name": "¿Solo reserva?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "leads-landing-page",
          "mode": "name"
        },
        "text": "={{ $json.slack.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "b1b2c3d4-0004-4000-8000-000000000004",
      "name": "Slack — leads-landing-page",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [720, -120],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack Hiweb"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ $json.calendar.start }}",
        "end": "={{ $json.calendar.end }}",
        "useDefaultReminders": true,
        "additionalFields": {
          "attendees": [
            "={{ $json.calendar.attendeeEmail }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ $json.calendar.description }}",
          "sendUpdates": "all",
          "summary": "={{ $json.calendar.title }}"
        }
      },
      "id": "b1b2c3d4-0006-4000-8000-000000000006",
      "name": "Google Calendar — Crear evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [960, 80],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Calendar Hiweb"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "contact",
        "operation": "upsert",
        "email": "={{ $json.hubspot.contact.email }}",
        "additionalFields": {
          "firstName": "={{ $json.hubspot.contact.firstName }}",
          "lastName": "={{ $json.hubspot.contact.lastName }}",
          "phoneNumber": "={{ $json.hubspot.contact.phone }}",
          "companyName": "={{ $json.hubspot.contact.company }}",
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "hiweb_booking_id",
                "value": "={{ $json.hubspot.properties.bookingId }}"
              },
              {
                "property": "hiweb_service",
                "value": "={{ $json.hubspot.properties.serviceLabel }}"
              },
              {
                "property": "hiweb_schedule_label",
                "value": "={{ $json.hubspot.properties.scheduleLabel }}"
              },
              {
                "property": "lead_source",
                "value": "={{ $json.hubspot.properties.leadSource }}"
              }
            ]
          }
        }
      },
      "id": "b1b2c3d4-0007-4000-8000-000000000007",
      "name": "HubSpot — Contacto",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [960, 280],
      "credentials": {
        "hubspotAppToken": {
          "id": "REPLACE_WITH_YOUR_HUBSPOT_CREDENTIAL_ID",
          "name": "HubSpot Hiweb"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "operation": "create",
        "type": "meeting",
        "metadata": {
          "title": "={{ $('Validar secreto').item.json.hubspot.meeting.title }}",
          "body": "={{ $('Validar secreto').item.json.hubspot.meeting.body }}",
          "startTime": "={{ $('Validar secreto').item.json.hubspot.meeting.start }}",
          "endTime": "={{ $('Validar secreto').item.json.hubspot.meeting.end }}"
        },
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $('HubSpot — Contacto').item.json.id }}"
          }
        }
      },
      "id": "b1b2c3d4-0009-4000-8000-000000000009",
      "name": "HubSpot — Reunión",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [1200, 280],
      "credentials": {
        "hubspotAppToken": {
          "id": "REPLACE_WITH_YOUR_HUBSPOT_CREDENTIAL_ID",
          "name": "HubSpot Hiweb"
        }
      }
    }
  ],
  "connections": {
    "Webhook Calendario": {
      "main": [
        [
          {
            "node": "Validar secreto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar secreto": {
      "main": [
        [
          {
            "node": "¿Reserva o cancelación?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Reserva o cancelación?": {
      "main": [
        [
          {
            "node": "Slack — leads-landing-page",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Solo reserva?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "¿Solo reserva?": {
      "main": [
        [
          {
            "node": "Google Calendar — Crear evento",
            "type": "main",
            "index": 0
          },
          {
            "node": "HubSpot — Contacto",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HubSpot — Contacto": {
      "main": [
        [
          {
            "node": "HubSpot — Reunión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "hiweb-growth-tools"
    },
    {
      "name": "calendar"
    },
    {
      "name": "google-calendar"
    },
    {
      "name": "hubspot"
    }
  ]
}
