n8n/workflows/hiweb-calendar-booked-full.json
{
  "name": "Hiweb — Calendario → Slack + GCal + HubSpot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hiweb-calendar-booked",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook Calendario",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "hiweb-calendar-booked"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst headers = item.headers ?? {};\nconst query = item.query ?? {};\nconst secret =\n  query.secret ??\n  headers['x-webhook-secret'] ??\n  headers['X-Webhook-Secret'] ??\n  '';\n\nconst expected = $env.HIWEB_WEBHOOK_SECRET;\nif (!expected || secret !== expected) {\n  throw new Error('Unauthorized: invalid webhook secret');\n}\n\nconst payload = item.body && typeof item.body === 'object' ? item.body : item;\n\nif (!payload.event || !payload.bookingId) {\n  throw new Error('Invalid payload: missing event or bookingId');\n}\n\nif (payload.event === 'calendar.booked') {\n  if (!payload.slack?.text) {\n    throw new Error('Invalid payload: missing slack.text for booked event');\n  }\n  if (!payload.calendar?.start || !payload.calendar?.end) {\n    throw new Error('Invalid payload: missing calendar.start/end for booked event');\n  }\n  if (!payload.hubspot?.contact?.email) {\n    throw new Error('Invalid payload: missing hubspot.contact.email for booked event');\n  }\n} else if (payload.event === 'calendar.cancelled') {\n  if (!payload.slack?.text) {\n    throw new Error('Invalid payload: missing slack.text for cancelled event');\n  }\n  if (!payload.calendar?.start || !payload.calendar?.end) {\n    throw new Error('Invalid payload: missing calendar.start/end for cancelled event');\n  }\n} else {\n  throw new Error(`Invalid payload: unknown event ${payload.event}`);\n}\n\nreturn [{ json: payload }];"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000002",
      "name": "Validar secreto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "evt-booked",
              "leftValue": "={{ $json.event }}",
              "rightValue": "calendar.booked",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "evt-cancelled",
              "leftValue": "={{ $json.event }}",
              "rightValue": "calendar.cancelled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b1b2c3d4-0003-4000-8000-000000000003",
      "name": "¿Reserva o cancelación?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "evt-booked-only",
              "leftValue": "={{ $json.event }}",
              "rightValue": "calendar.booked",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1b2c3d4-0005-4000-8000-000000000005",
      "name": "¿Solo reserva?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "leads-landing-page",
          "mode": "name"
        },
        "text": "={{ $json.slack.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "b1b2c3d4-0004-4000-8000-000000000004",
      "name": "Slack — leads-landing-page",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [720, -120],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack Hiweb"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ $json.calendar.start }}",
        "end": "={{ $json.calendar.end }}",
        "useDefaultReminders": true,
        "additionalFields": {
          "attendees": [
            "={{ $json.calendar.attendeeEmail }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ $json.calendar.description }}",
          "sendUpdates": "all",
          "summary": "={{ $json.calendar.title }}"
        }
      },
      "id": "b1b2c3d4-0006-4000-8000-000000000006",
      "name": "Google Calendar — Crear evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [960, 80],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Calendar Hiweb"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst contact = payload.hubspot.contact;\nconst props = payload.hubspot.properties;\n\nconst properties = {\n  firstname: contact.firstName || '',\n  lastname: contact.lastName || '',\n  hiweb_booking_id: props.bookingId,\n  hiweb_service: props.serviceLabel,\n  hiweb_schedule_label: props.scheduleLabel,\n  lead_source: props.leadSource,\n};\n\nif (contact.phone) {\n  properties.phone = String(contact.phone).trim();\n}\nif (contact.company) {\n  properties.company = String(contact.company).trim();\n}\n\nreturn [{\n  json: {\n    ...payload,\n    hubspotUpsertBody: {\n      inputs: [{\n        idProperty: 'email',\n        id: contact.email,\n        properties,\n      }],\n    },\n  },\n}];"
      },
      "id": "b1b2c3d4-0008-4000-8000-000000000008",
      "name": "Preparar HubSpot contacto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/batch/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.hubspotUpsertBody) }}",
        "options": {}
      },
      "id": "b1b2c3d4-0007-4000-8000-000000000007",
      "name": "HubSpot — Contacto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 280],
      "credentials": {
        "hubspotAppToken": {
          "id": "REPLACE_WITH_YOUR_HUBSPOT_CREDENTIAL_ID",
          "name": "HubSpot Hiweb"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "operation": "create",
        "type": "meeting",
        "metadata": {
          "title": "={{ $('Validar secreto').item.json.hubspot.meeting.title }}",
          "body": "={{ $('Validar secreto').item.json.hubspot.meeting.body }}",
          "startTime": "={{ $('Validar secreto').item.json.hubspot.meeting.start }}",
          "endTime": "={{ $('Validar secreto').item.json.hubspot.meeting.end }}"
        },
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $('HubSpot — Contacto').item.json.results[0].id }}"
          }
        }
      },
      "id": "b1b2c3d4-0009-4000-8000-000000000009",
      "name": "HubSpot — Reunión",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [1320, 280],
      "credentials": {
        "hubspotAppToken": {
          "id": "REPLACE_WITH_YOUR_HUBSPOT_CREDENTIAL_ID",
          "name": "HubSpot Hiweb"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "evt-cancelled-only",
              "leftValue": "={{ $json.event }}",
              "rightValue": "calendar.cancelled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1b2c3d4-0010-4000-8000-000000000010",
      "name": "¿Es cancelación?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $('Validar secreto').item.json.calendar.start }}",
          "timeMax": "={{ $('Validar secreto').item.json.calendar.end }}",
          "query": "={{ $('Validar secreto').item.json.bookingId }}"
        }
      },
      "id": "b1b2c3d4-0011-4000-8000-000000000011",
      "name": "Google Calendar — Buscar evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1200, 400],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Calendar Hiweb"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bookingId = $('Validar secreto').first().json.bookingId;\nconst items = $input.all();\n\nfor (const item of items) {\n  const event = item.json;\n  const haystack = `${event.summary || ''}\\n${event.description || ''}`;\n  if (haystack.includes(bookingId)) {\n    return [{ json: { eventId: event.id, summary: event.summary } }];\n  }\n}\n\nreturn [{ json: { eventId: null, skipped: true } }];"
      },
      "id": "b1b2c3d4-0012-4000-8000-000000000012",
      "name": "Resolver evento GCal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-event-id",
              "leftValue": "={{ $json.eventId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1b2c3d4-0013-4000-8000-000000000013",
      "name": "¿Hay evento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1680, 400]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "eventId": "={{ $json.eventId }}",
        "options": {
          "sendUpdates": "all"
        }
      },
      "id": "b1b2c3d4-0014-4000-8000-000000000014",
      "name": "Google Calendar — Eliminar evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1920, 400],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Calendar Hiweb"
        }
      }
    }
  ],
  "connections": {
    "Webhook Calendario": {
      "main": [
        [
          {
            "node": "Validar secreto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar secreto": {
      "main": [
        [
          {
            "node": "¿Reserva o cancelación?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Reserva o cancelación?": {
      "main": [
        [
          {
            "node": "Slack — leads-landing-page",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Solo reserva?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "¿Solo reserva?": {
      "main": [
        [
          {
            "node": "Google Calendar — Crear evento",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar HubSpot contacto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Es cancelación?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es cancelación?": {
      "main": [
        [
          {
            "node": "Google Calendar — Buscar evento",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Calendar — Buscar evento": {
      "main": [
        [
          {
            "node": "Resolver evento GCal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver evento GCal": {
      "main": [
        [
          {
            "node": "¿Hay evento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay evento?": {
      "main": [
        [
          {
            "node": "Google Calendar — Eliminar evento",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Preparar HubSpot contacto": {
      "main": [
        [
          {
            "node": "HubSpot — Contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot — Contacto": {
      "main": [
        [
          {
            "node": "HubSpot — Reunión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "hiweb-growth-tools"
    },
    {
      "name": "calendar"
    },
    {
      "name": "google-calendar"
    },
    {
      "name": "hubspot"
    }
  ]
}
